<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fares for <%= agency %></title>
</head>

<body>
    <a href="https://transitGTA.onrender.com" style="font-size: 20px; color: #ff0000">Home</a>
    
    <% details.forEach(detail => {%>
        <p><%= detail%></p>
    <%})%>
</body>

</html>