<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fares for <%= agency %></title>
</head>

<body>
    <img id="home" src="/logos/home.png" width="50px">
    <style>
        #home:hover{
            cursor:grab;
        }
    </style>
    <script>
        document.getElementById('home').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com'; });
    </script>
    
    <% details.forEach(detail => {%>
        <p><%= detail%></p>
    <%})%>
</body>

</html>