<html>

<head>
    <meta charset="UTF-8">
    <title>TransitGTA Express</title>
    <style>
        .agency{
            position: absolute;
        }.agency:hover{
            cursor: grab;
        }
    </style>
</head>

<body style="margin: 0;">
    <img id="background" src="/backgrounds/GTHA.png" style="position: fixed; opacity: 0.3; width: 100%; height: 100%; z-index: -5;">

    <p id="welcomeMsg" style="text-align: center; font-size: 25px; color: rgb(255, 80, 0); width: fit-content; margin: auto; padding: 5px;">
        Welcome to TransitGTA!<br>Click on the logo of a transit agency to continue.</p>

    <img id="TTC" src="/logos/TTC.png" style="position: absolute; width: 10%; top: 33%; left: 58.5%; opacity:50%;">
    <img id="GO" class="agency" src="/logos/GO.png" style="width: 10%; top: 43%; left: 58.5%;">
    <img id="YRT" class="agency" src="/logos/YRT.png" style="width: 10%; top: 12%; left: 55%;">
    <img id="DRT" class="agency" src="/logos/DRT.png" style="width: 10%; top: 19%; left: 75%;">
    <img id="MiWay" class="agency" src="/logos/MiWay.png" style="width: 10%; top: 44%; left: 46%;">
    <img id="Brampton" class="agency" src="/logos/Brampton.png" style="width: 12%; top: 36%; left: 40%;">
    <img id="HSR" class="agency" src="/logos/HSR.png" style="width: 7%; top: 81%; left: 36.5%;">
    <img id="GRT" class="agency" src="/logos/GRT.png" style="width: 10%; top: 62%; left: 5%;">
    <script>
        //document.getElementById('TTC').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/TTC/map'; });  ***NOT READY YET
        document.getElementById('GO').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/GO/map'; });
        document.getElementById('YRT').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/YRT/map'; });
        document.getElementById('DRT').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/DRT/map'; });
        document.getElementById('MiWay').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/MiWay/map'; });
        document.getElementById('Brampton').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/Brampton/map'; });
        document.getElementById('HSR').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/HSR/map'; });
        document.getElementById('GRT').addEventListener('click',() => { window.location.href='https://transitGTA.onrender.com/GRT/map'; });
    </script>
    

    <div id="oakview" style="position: absolute; top: 35%; width: 20%; right: 1%;">
        <img src="/ads/Oakview.png" style="width: 70%;"><br>
        <a href="https://www.oakviewterrace.com/">Oakview Terrace</a>
        <p style="margin-top: 0;">Marketing rep. <wbr>Denver Wu<br>647-768-6159</p>
    </div>
    <script> // Redirect to Oakview's website if the image is clicked
        document.getElementById('oakview').addEventListener('click',() => { window.location.href='https://www.oakviewterrace.com/'; });
    </script>
    <div id="DC179" style="position: absolute; top: 55%; width: 20%; right: 1%;">
        <img src="/ads/DC179.png" style="width: 30%;"><br>
        <p style="margin: 0;">DC179 - The Home Creates</a>
        <p style="margin-top: 0;">Marketing rep. <wbr>Eric Chok<br>647-388-8018</p>
    </div>
    <div id="topfood" style="position: absolute; top: 75%; width: 20%; right: 1%;">
        <img src="/ads/TopFood.jpg" style="width: 80%;"><br>
        <p style="margin: 0;">Top Foods</a>
        <p style="margin-top: 0;">Owner: <wbr>Coco Shi<br>416-752-3666</p>
    </div>
</body>

</html>